{% load staticfiles %}

<!DOCTYPE html5>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'grapher/style.css' %}"/>
    </head>
    <body>
        <ul id="menubar">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li>
                <div id="dropdown">
                    <span>Graphs</span>
                    <div id="dropdown-content">
                        {% for f in function_list %}
                        <a href="{% url 'grapher' f.pk %}">{{ f.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </li>
            <li><a href="{% url 'input' %}">New Graph</a></li>
            <li><a href="{% url 'dictionary' %}">Dictionary</a></li>
            <li><a href="{% url 'operations' %}">Operations</a></li>
        </ul>
        
        <h4 style="text-align: center;">All functions currently in the database</h4>
        <table>
            <tr>
                <th>Function Name</th>
                <th>JavaScript</th>
            </tr>
            {% for f in function_list %}
            <tr>
                <td><a href="{% url 'grapher' f.pk %}">{{ f.name }}</a></td>
                <td>{{ f.script }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>