{% load staticfiles %}

<!DOCTYPE html5>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'grapher/style.css' %}"/>
    </head>
    <body>
        <ul id="menubar">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li>
                <div id="dropdown">
                    <span>Graphs</span>
                    <div id="dropdown-content">
                        {% for f in function_list %}
                        <a href="{% url 'grapher' f.pk %}">{{ f.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </li>
            <li><a href="{% url 'input' %}">New Graph</a></li>
            <li><a href="{% url 'dictionary' %}">Dictionary</a></li>
            <li><a href="{% url 'operations' %}">Operations</a></li>
        </ul>
        
        <h1>f(x) = {{ function.name }}</h1>
        
        <div id="dlDiv"><a id="dlLink">Click to download graph as PNG</a></div>
        
        <canvas id="canvas" width="500" height="500" style="border: 1px solid black;"></canvas>
        
        <form action="{% url 'grapher' function.pk %}" id="graphform" method="get">
            <div>
                <label for="x1">Domain: from </label>
                <input type="text" name="x1" value="{% if x1 %}{{ x1 }}{% else %}-5{% endif %}"/>
                <label for="x2"> to </label>
                <input type="text" name="x2" value="{% if x2 %}{{ x2 }}{% else %}5{% endif %}"/>
            </div>
            <div>
                <label for="y1">Range: from </label>
                <input type="text" name="y1" value="{% if y1 %}{{ y1 }}{% else %}-5{% endif %}"/>
                <label for="y2"> to </label>
                <input type="text" name="y2" value="{% if y2 %}{{ y2 }}{% else %}5{% endif %}"/>
            </div>
            <input type="submit" name="Graph"/>
        </form>
        
        <!--<script type="text/javascript" src="{% static 'grapher/graph2d.js' %}"></script>-->
        <script>
            var canvas = document.getElementById("canvas");
            var context = canvas.getContext("2d");
            var res = 1000;
            var x1 = -5;
            var x2 = 5;
            var y1 = -5;
            var y2 = 5;
            
            {% if x1 %}x1 = {{ x1 }}{% endif %}
            {% if x2 %}x2 = {{ x2 }}{% endif %}
            {% if y1 %}y1 = {{ y1 }}{% endif %}
            {% if y2 %}y2 = {{ y2 }}{% endif %}
            
            function drawGraph() {
                context.lineWidth = 1;
                context.strokeStyle = "black";
                context.beginPath();
                var x = x1;
                context.moveTo(0, canvas.height*({{ function.script }}-y2)/(y1-y2));
                var increment = (x2-x1)/res;
                for (var x = x1+increment; x <= x2; x += increment) {
                    context.lineTo(canvas.width*(x-x1)/(x2-x1), canvas.height*({{ function.script }}-y2)/(y1-y2));
                }
                context.stroke();
            }
            
            function drawAxes() {
                context.beginPath();
                context.rect(0, 0, canvas.width, canvas.height);
                context.fillStyle = "white";
                context.fill();
                
                context.strokeStyle = "#999999";
                context.lineWidth = 3;
                context.beginPath();
                context.moveTo(-canvas.width*x1/(x2-x1), 0);
                context.lineTo(-canvas.width*x1/(x2-x1), canvas.height);
                context.stroke();
                
                context.beginPath();
                context.moveTo(0, -canvas.height*y2/(y1-y2));
                context.lineTo(canvas.width, -canvas.height*y2/(y1-y2));
                context.stroke();
                
                context.lineWidth = 1;
                for (var x = Math.ceil(x1); x <= Math.floor(x2); x++) {
                    console.log("x: " + x);
                    context.beginPath();
                    context.moveTo(canvas.width*(x-x1)/(x2-x1), 0);
                    context.lineTo(canvas.width*(x-x1)/(x2-x1), canvas.height);
                    context.stroke();
                }
                for (var y = Math.ceil(y1); y <= Math.floor(y2); y++) {
                    console.log("y: " + y);
                    context.beginPath();
                    context.moveTo(0, canvas.height*(y-y2)/(y1-y2));
                    context.lineTo(canvas.width, canvas.height*(y-y2)/(y1-y2));
                    context.stroke();
                }
            }
            
            drawAxes();
            drawGraph();
            
            var dlLink = document.getElementById("dlLink");
            dlLink.href = canvas.toDataURL("image/png");
            dlLink.download = "graph_img";
            dlLink.dataset.downloadurl = ["image/png", dlLink.download, dlLink.href].join(':');
        </script>
    </body>
</html>