{% load staticfiles %}

<!DOCTYPE html5>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'grapher/style.css' %}"/>
    </head>
    <body>
        <ul id="menubar">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a>Dictionary</a></li>
            <li>
                <div id="dropdown">
                    <span>Graphs</span>
                    <div id="dropdown-content">
                        {% for f in function_list %}
                        <a href="{% url 'grapher' f.pk %}">{{ f.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </li>
            <li><a href="{% url 'input' %}">New Graph</a></li>
            <li><a href="{% url 'operations' %}">Operations</a></li>
        </ul>
        
        Available functions:
        <ul>
        {% for f in function_list %}
            <li><a href="{% url 'grapher' f.pk %}">{{ f.name }}</a></li>
        {% endfor %}
        </ul>
    </body>
</html>