{% load staticfiles %}

<!DOCTYPE html5>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'grapher/style.css' %}"/>
    </head>
    <body>
        <ul id="menubar">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a>Dictionary</a></li>
            <li>
                <div id="dropdown">
                    <span>Dropdown</span>
                    <div id="dropdown-content">
                        {% for f in function_list %}
                        <a href="{% url 'grapher' f.pk %}">{{ f.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </li>
            <li><a href="{% url 'input' %}">New Graph</a></li>
        </ul>
        
        <div id="inputform">
            <form action="{% url 'create' %}" method="post">{% csrf_token %}
                <h3>Create a New Graph</h3>
                <label for="name">Name: </label>
                <input type="text" id="name" name="name"/>
                <label for="javascript">JavaScript: </label>
                <input type="text" id="javascript" name="javascript"/>
                <input type="submit" value="Create"/>
            </form>
        </div>
    </body>
</html>